@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900");
#hero {
  background-image: url(img/hero.jpg); }

#pic-introductie {
  background-image: url(img/intro.jpg); }

#pic-onderzoek {
  background-image: url(img/onderzoek.jpg); }

#pic-wie {
  background-image: url(img/wie.jpg); }

#pic-sponsoren {
  background-image: url(img/sponsoren.jpg); }

#pic-steun {
  background-image: url(img/steun.jpg); }

#pic-contact {
  background-image: url(img/contact.jpg); }

html, body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #2f2a27;
  line-height: 2em;
  letter-spacing: 0.05em; }

h1, h2, h3, h4, h5, button, a.button, .button, nav {
  font-weight: 900;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); }

h4 {
  font-size: 2rem; }

h5, button, a.button, .button {
  font-size: 1.5rem; }

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2a27;
  color: white;
  height: 3em;
  width: 100%;
  z-index: 1;
  font-size: 1em;
  -webkit-user-select: none;
  user-select: none;
  top: 0; }
  nav #nav-logo {
    color: #E39774;
    margin-left: 1em;
    height: 2em; }
  nav .menu-toggle {
    display: block;
    position: relative;
    padding-right: 1em; }
    nav .menu-toggle input {
      display: block;
      width: 2.5em;
      height: 2em;
      position: absolute;
      top: 0em;
      right: 0.6em;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none; }
    nav .menu-toggle span {
      display: block !important;
      width: 2em;
      height: 0.25em;
      margin-bottom: 0.25em;
      position: relative;
      background: #fcf8f6;
      border-radius: 0.25em;
      z-index: 1;
      transform-origin: 0.25em 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      nav .menu-toggle span:first-child {
        transform-orign: 0% 0%; }
      nav .menu-toggle span:nth-last-child(2) {
        transform-orign: 0% 100%; }
    nav .menu-toggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(2px, -2px);
      background: #E39774; }
      nav .menu-toggle input:checked ~ span:nth-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      nav .menu-toggle input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(0, 1px); }
    nav .menu-toggle a {
      color: #2f2a27;
      text-decoration: none;
      margin-right: 1em;
      font-size: 1.5em;
      line-height: 3em;
      transition: all 0.4s ease-in-out; }
    nav .menu-toggle a:hover {
      color: #E39774; }
  nav .menu {
    position: absolute;
    width: 12em;
    margin: 0.75em 0em 0 -12em;
    height: 100vh;
    padding: 4em;
    background: white;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antiaiased;
    transform-orgin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    nav .menu a {
      display: block; }
  nav .menu-toggle input:checked ~ .menu {
    transform: none; }

a {
  color: black; }
  a:hover {
    color: #E39774; }

h2, h3 {
  margin: 0 1rem 2rem 1rem; }

p {
  margin: 0 1rem 0 1rem; }

#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-top: 3em;
  background-position: center;
  background-size: cover; }
  #hero #logo {
    width: 90vw; }
  #hero h4, #hero h5, #hero button, #hero .button {
    color: white;
    margin: 0 1rem 1rem 1rem; }
  #hero h5, #hero button, #hero .button {
    margin-bottom: 2rem; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.content {
  max-width: 50em;
  margin: 6em 0 6em; }

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fcf8f6;
  width: 100%; }
  .section h2 {
    color: #E39774;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
  .section .picture {
    order: 2;
    background: #2f2a27;
    height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover; }

.section:nth-child(3), .section:nth-child(5), .section:nth-child(7) {
  background: #2f2a27;
  color: white; }
  .section:nth-child(3) h2, .section:nth-child(5) h2, .section:nth-child(7) h2 {
    color: #E39774; }
  .section:nth-child(3) a, .section:nth-child(5) a, .section:nth-child(7) a {
    color: #E39774; }
    .section:nth-child(3) a:hover, .section:nth-child(5) a:hover, .section:nth-child(7) a:hover {
      color: white; }

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  flex-direction: column;
  width: 100%; }
  .sub .picture {
    order: 0;
    background: #2f2a27;
    background-position: center;
    background-size: cover; }

button, a.button, .button {
  display: block;
  width: fit-content;
  padding: 1rem 2rem;
  position: relative;
  margin: 0 1rem 1rem 0;
  background: #E39774;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0.25rem 0.5rem 0 rgba(51, 51, 51, 0.05), 0px 0.25rem 1rem 0 rgba(51, 51, 51, 0.1);
  color: white !important;
  cursor: pointer;
  transition: background 	200ms 	ease-in-out, border 		200ms 	ease-in-out, transform  	200ms	ease-in-out; }
  button::after, a.button::after, .button::after {
    content: '';
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0.5rem 1rem 0 rgba(51, 51, 51, 0.1), 0px 0.75rem 4rem 0.5rem rgba(51, 51, 51, 0.15);
    opacity: 0;
    transition: opacity 200ms ease-in-out; }
  button:hover, a.button:hover, .button:hover {
    transform: translate(0, -1px);
    color: white; }
    button:hover::after, a.button:hover::after, .button:hover::after {
      opacity: 1; }

@media screen and (min-width: 57em) {
  nav #nav-logo {
    color: #E39774;
    margin-left: 1em;
    height: 2em; }
  nav .menu-toggle {
    display: block;
    position: relative;
    padding-right: 1em; }
    nav .menu-toggle input {
      width: 0;
      height: 0;
      position: fixed; }
    nav .menu-toggle span {
      width: 0;
      height: 0;
      position: fixed; }
    nav .menu-toggle a {
      color: #fcf8f6;
      margin-right: 1em;
      font-size: 1em;
      line-height: 1em; }
    nav .menu-toggle a:hover {
      color: #E39774; }
  nav .menu {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background: transparent;
    box-shadow: none;
    -webkit-font-smoothing: antiaiased;
    transform-orgin: 0% 0%;
    transform: translate(0, 0); }
    nav .menu a {
      display: inline; }
  #hero #logo {
    width: 60vw; }
  #hero h5, #hero button, #hero .button {
    margin-bottom: 4rem; }
  .content.center {
    text-align: center; }
  .sub {
    flex-direction: row;
    flex-wrap: no-wrap; }
    .sub .content {
      max-width: 50%;
      margin: 0; }
      .sub .content p {
        margin: 0 2em 0 2em; }
    .sub .picture {
      min-height: 50vh;
      width: 55%; }
  .sub:nth-child(even) .picture {
    order: 2; }
  ul {
    display: table;
    margin: 0 auto; } }
