#hero {background-image: url(img/hero.jpg)}
#pic-introductie {background-image: url(img/intro.jpg)}
#pic-onderzoek {background-image: url(img/onderzoek.jpg)}
#pic-wie {background-image: url(img/wie.jpg)}
#pic-sponsoren {background-image: url(img/sponsoren.jpg)}
#pic-steun {background-image: url(img/steun.jpg)}
#pic-contact {background-image: url(img/contact.jpg)}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');


$primary: #E39774;
$primary-dark: #c27451;
$light-gray: #fcf8f6;
$dark-gray: #473D39;
$dark-gray: #2f2a27;

html, body {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: $dark-gray;
	line-height: 2em;
	letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, nav {
	font-weight: 900;
	letter-spacing: 0.1em;
	text-shadow: 0 2px 1px rgba(black, 0.3);
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}


nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $dark-gray;
	color: white;
	height: 3em;
	width: 100%;
	z-index: 1;
	font-size: 1em;

	-webkit-user-select: none;
	user-select: none;

	top: 0;

	#nav-logo {
		color: $primary;
		margin-left: 1em;
		height: 2em;
	}

	.menu-toggle {
		display: block;
		position: relative;
		padding-right: 1em;

		input {
			display: block;
			width: 2.5em;
			height: 2em;
			position: absolute;
			top: 0em;
			right: 0.6em;
			
			opacity: 0;
			z-index: 2;

			-webkit-touch-callout: none;
		}

		span {
			display: block !important;
			width: 2em;
			height: 0.25em;
			margin-bottom: 0.25em;
			position: relative;

			background: $light-gray;
			border-radius: 0.25em;

			z-index: 1;

			transform-origin: 0.25em 0;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

            &:first-child {
            	transform-orign: 0% 0%;
            }

            &:nth-last-child(2){
            	transform-orign: 0% 100%;
            }
		}

		input:checked ~ span {
			opacity:: 1;
			transform: rotate(45deg) translate(2px, -2px);
			background: $primary;

			&:nth-child(3) {
				opacity: 0;
				transform: rotate(0deg) scale(0.2, 0.2);
			}

			&:nth-child(4) {
				transform: rotate(-45deg) translate(0, 1px);
			}
		}

		a {
			color: $dark-gray;
			text-decoration: none;
			margin-right: 1em;
			font-size: 1.5em;
			line-height: 3em;
			transition: all 0.4s ease-in-out;
		}

		a:hover {
			color: $primary;
		}
	}

	.menu {
		position: absolute;
		width: 12em;
		margin: 0.75em 0em 0 -12em;
		height: 100vh;
		padding: 4em;

		background: white;
		box-shadow: 0 0 2em 0 rgba(0,0,0,0.1);
		-webkit-font-smoothing: antiaiased;

		transform-orgin: 0% 0%;
		transform: translate(100%, 0);

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

		a {
			display:block
		}
	}

	.menu-toggle input:checked ~ .menu {
		transform: none;
	}
}

a {
	color: black;

	&:hover {
		color: $primary;
	}
}

h2, h3 {
	margin: 0 1rem 2rem 1rem;
}

p {
	margin: 0 1rem 0 1rem;
}

#hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	height: 80vh;
	width: 100%;
	margin-top: 3em;

	background-position: center;
	background-size: cover;

	#logo {
		width: 90vw;
	}

	h4, h5 {
		color: white;
		margin: 0 1rem 1rem 1rem;
	}

	h5 {
		margin-bottom: 2rem;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	max-width: 50em;
	margin: 6em 0 6em;

	&.center {
		// text-align: center;
	}
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	background: $light-gray;

	width: 100%;

	h2 {
		color: $primary;
		text-shadow: 0 2px 2px rgba(black, 0.1);
	}

	.picture {
		order: 2;
		background: $dark-gray;
		height: 70vh;
		width: 100%;

		background-position: center;
		background-size: cover;
	}
}

.section:nth-child(3), .section:nth-child(5), .section:nth-child(7) {
	background: $dark-gray;
	color: white;

	h2 {
		color: $primary
	}

	a {
		color: $primary;

		&:hover {
			color: white;
		}
	}
}

.sub {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	color: black;
	flex-direction: column;
	width: 100%;

	.picture {
		order: 0;
		background: $dark-gray;

		background-position: center;
		background-size: cover;
	}
}

button, a.button, .button {
	display: block;
	width: fit-content;
	padding: 1rem 2rem;
	position: relative;
	margin: 0 auto 1rem;

	background: $primary;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0.25rem 0.5rem 0 rgba(#333, 0.05),
			 0px 0.25rem 1rem 0 rgba(#333, 0.1);

	color: white !important;
	text-decoration: none;
	@extend h5;

	cursor: pointer;

	transition: background 	200ms 	ease-in-out,
				border 		200ms 	ease-in-out,
				transform  	200ms	ease-in-out;

	&::after {
		content: '';
		border-radius: 4px;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		box-shadow: 0px 0.5rem 1rem 0 rgba(#333, 0.1),
			 0px 0.75rem 4rem 0.5rem rgba(#333, 0.15);
		opacity: 0;

		transition: opacity	200ms ease-in-out,
	}

	&:hover {
		transform: translate(0, -1px);
		color: white;

		&::after {
			opacity: 1;
		}
	}
}


@media screen and (min-width: 57em) {
	nav {

		#nav-logo {
			color: $primary;
			margin-left: 1em;
			height: 2em;
		}

		.menu-toggle {
			display: block;
			position: relative;
			padding-right: 1em;

			input {
				width: 0;
				height: 0;
				position: fixed;
			}

			span {
				width: 0;
				height: 0;
				position: fixed;
			}

			a {
				color: $light-gray;
				margin-right: 1em;
				font-size: 1em;
				line-height: 1em;
			}

			a:hover {
				color: $primary;
			}
		}

		.menu {
			position: relative;
			width: auto;
			height: auto;
			padding: 0;
			margin: 0;


			background: transparent;
			box-shadow: none;
			-webkit-font-smoothing: antiaiased;

			transform-orgin: 0% 0%;
			transform: translate(0, 0);

			a {
				display:inline;
			}
		}
	}

	#hero {
		#logo {
			width: 60vw;
		}

		h5 {
			margin-bottom: 4rem;
		}
	}

	.content {
		&.center {
			text-align: center;
		}
	}

	.sub {
		flex-direction: row;
		flex-wrap: no-wrap;

		.content {
			max-width: 50%;
			margin: 0;
			p {
				margin: 0 2em 0 2em;
			}
		}

		.picture {
			min-height: 50vh;
			width: 55%;
		}
	}

	.sub:nth-child(even) {
		.picture {
			order: 2;
		}
	}

	ul { display:table; margin:0 auto;}
}
